@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.FilmLibrary>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "_Layout.cshtml";
}
<div class="container">
    <div class="columns">
        @foreach (Film film in Model.Children)
        {
            <div class="column is-one-third">
                <div class="card">
                    @if (film.Poster != null)
                    {
                        <div class="card-image">
                            <figure class="image">
                                <img src="@film.Poster.GetCropUrl(270, 400)" />
                            </figure>
                        </div>
                    }

                    <div class="card-content">
                        <div class="content">
                            <a href="@film.Url()">
                                @film.Name
                            </a>
                        </div>
                    </div>
                </div>
            </div>            
        }
    </div>
</div>

